<main>
	<div class="start-page">
    <ul class="pages-examples">
      <li>
        <a href="/login">Вход</a>
      </li>
      <li>
        <a href="/register">Регистрация</a>
      </li>
      <li>
        <a href="/chat">Чат</a>
      </li>
      <li>
        <a href="/profile">Профиль</a>
      </li>
       <li>
        <a href="/404">Ошибка 404</a>
      </li>
       <li>
        <a href="/500">Ошибка 500</a>
      </li>
    </ul>
	</div>
</main>