<main>
	<div class="start-page">
		<div class="main-form">
			<div class="main-form-top">
				<h1>Вход</h1>
				{{{form}}}
			</div>
			<div class="form-actions">
				{{{authButton}}}
				<a href="/register" class="form-second-link">Нет аккаунта?</a>
			</div>
		</div>
	</div>
</main>