<main>
	<div class="start-page">
		<div class="main-form">
			<div class="main-form-top">
				<h1>Регистрация</h1>
				{{{form}}}
			</div>
			<div class="form-actions">
				{{{registerButton}}}
				<a href="/login" class="form-second-link">Войти</a>
			</div>
		</div>
	</div>
</main>