<main>
	<div class="profile-block">
		<div class="profile-back-block">
			<a href="/" class="profile-back-link">
				<img src="{{backIcon}}" alt="back icon" />
			</a>
		</div>
		<div class="profile-content">
			<div class="profile">
				{{{avatar}}}
				{{{form}}}
				<div class="profile-footer">
					<ul>
						<li><a href="/profile/data">Изменить данные</a></li>
						<li><a href="/profile/password">Изменить пароль</a></li>
						<li><a href="/profile/exit?exit=yes" class="exit">Выйти</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>