@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Roboto+Condensed&display=swap");

$app-size: 15px;
$heading-h1: 20px;
$app-font: "Inter", sans-serif;

@mixin font-weight($weight) {
	font-weight: $weight;
}
