@import "reset.css";
@import "colors.scss";
@import "fonts.scss";
@import "animation.scss";
@import "mixins.scss";

a {
	text-decoration: none;
}

#app {
	color: $main-color;
	font-size: $app-size;
	font-family: $app-font;
}

main {
	height: 100vh;
}

.start-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	gap: 30px;
}

// Login Register pages

.error-back-link {
	font-size: 11px;
	color: $accent-color;
	text-decoration: none;
	margin-top: 40px;
}

.form-second-link {
	font-size: 11px;
	text-align: center;
}

.error-h1 {
	font-size: 40px;
}

h2 {
	font-size: 20px;
}

button {
	border: none;
	box-shadow: none;
}

.blue-button {
	background-color: $accent-color;
	color: #fff;
	@include font-weight(500);
	border-radius: 15px;
	padding: 10px 40px;
	font-size: 18px;
	@include simple(all, 0.3s);
	width: 340px;

	&:hover {
		cursor: pointer;
		background-color: lighten($accent-color, 5%);
	}
}

.main-form {
	width: 340px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
	padding: 50px 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 460px;
	justify-content: space-between;

	.form-actions {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h1 {
		font-size: $heading-h1;
		text-align: center;
		margin-bottom: 60px;
		@include font-weight(500);
	}

	input {
		border: none;
		font-size: 13px;
		color: $main-color;
		border-bottom: 1px solid $accent-color;
		margin-top: 5px;
		outline: none;
		padding: 10px 0 5px;
	}

	label {
		display: flex;
		flex-direction: column;
		font-size: 12px;
		margin-bottom: 20px;
		color: $second-color;
	}
}

// Profile pages

.profile-block {
	display: flex;
}

.profile-back-block {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 64px;
	background-color: $light-bg;
	border-right: 1px solid #eaeaea;

	a {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}
}

.profile-content {
	width: calc(100% - 64px);

	.profile {
		display: flex;
		margin-top: 50px;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		form {
			margin-top: 80px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 510px;

			label {
				display: flex;
				justify-content: space-between;
				padding: 10px 0 15px;
				border-bottom: 1px solid $strong-light-bg;

				&:last-child {
					border-bottom: none;
				}
			}

			input {
				font-size: 15px;
				border: none;
				box-shadow: none;
				outline: none;
				text-align: right;
				color: $second-color;

				&::placeholder {
					color: $second-color;
				}

				&:disabled {
					background-color: transparent;
				}
			}
		}
	}

	.avatar-block {
		overflow: hidden;
		position: relative;
		.backdrop-avatar-change {
			display: none !important;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgb(0 0 0 / 53%);
			color: #fff;
			border-radius: 50%;
			text-align: center;
			@include flex-vertical-center();
		}
		&:hover {
			.backdrop-avatar-change {
				display: flex !important;
				cursor: pointer;
			}
		}
	}
}
