@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.avatar {
	display: flex;
	@include flex-vertical-center();
	gap: 20px;

	.avatar-block {
		display: flex;
		@include flex-vertical-center();
		overflow: hidden;
		position: relative;
		width: 130px;
		height: 130px;
		background-color: $medium-light-bg;
		border-radius: 50%;
		.backdrop-avatar-change {
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgb(0 0 0 / 53%);
			color: #fff;
			border-radius: 50%;
			text-align: center;
			@include flex-vertical-center();
		}
		&:hover {
			.backdrop-avatar-change {
				display: flex;
				cursor: pointer;
			}
		}
	}

	h2 {
		font-size: 16px;
		color: $main-color;
		@include font-weight(600);
	}
}
